.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.container { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.item {
  background-color: rebeccapurple;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}